---
layout: index
---

<div class="home">

    <ul class="post-list">
        {% assign projects = site.my_collection | sort: 'order' %}
        {% for post in projects %}
        <li class="{% if post.half %}half {{ post.half }}{% endif %}">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <img src="{{ post.thumbnail }}" class="fadein" onload="this.classList.add('is-active');" />
                <img src="{{ post.mobile-thumbnail }}" class="mobile fadein" />
                <span>{{ post.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>

<div class="footer">
    <a href="mailto:go@peprally.co">go@peprally.co</a><br/>
    <a href="http://twitter.com/gorociao/" class="twitter">{% include twitter.html %}</a>
    <a href="https://vimeo.com/peprally/" class="vimeo">{% include vimeo.html %}</a>
</div>
