---
layout: default
title: Info
permalink: /info/
---
<div class="info">

    <div class="bio">
        <div>PepRally is the studio of Brooklyn based director, designer, and illustrator, Erica Gorochow.</div>

        <div>We’re nimble, selective and focused on making high quality work for brands, networks, agencies and startups. In addition to client work, the office produces projects internally to continue  exploring new technologies, techniques and ideas.</div>

        <div>Say Hello: <a href="mailto:go@peprally.co">go@peprally.co</a></div>
	    
      	<div>New Business: EP, Kathryn Henderson <a href="mailto:go@peprally.co">kathryn@peprally.co</a></div>
	    
      	<div>435 South 5th St. Floor 1</div>
	<div>Brooklyn, NY 11211</div>
	<div>+1.347.788.1051</div>
        <div id="map" style="height: 350px;"></div>
        <script>
          function initMap() {
            
            var myLatLng = { lat: 40.7068901, lng: -73.9515355 };
            
            var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              zoom: 15,
              styles: [
                        {
                            "featureType": "all",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "saturation": 36
                                },
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 40
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 16
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 20
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 17
                                },
                                {
                                    "weight": 1.2
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 20
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 21
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 17
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 29
                                },
                                {
                                    "weight": 0.2
                                },
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 18
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "color": "#ff0000"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#000000"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 16
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#000000"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 19
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                },
                                {
                                    "lightness": 17
                                }
                            ]
                        }
                    ]
            });
            
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'PepRally'
            });
            
            marker.addListener('click', function() {
              window.open("https://www.google.com/maps/place/PepRally/@40.7068861,-73.9531824,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25be39c6ff2ff:0xbad7ba9f3a12feb3!8m2!3d40.7068861!4d-73.9509937","_BLANK");
            });
            
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf9d4iFL4LeSpFFFxWeR7zOn0GdKhCCGA&callback=initMap" async defer></script>
	    
    </div>

		<div class="lists">
	    <div class="left">
	        <ul class="post-list">
	            <h2><strong>SELECT KUDOS</strong></h2>
	            {% for entry in site.data.kudos %}
								{% include url-entry.html %}
	            {% endfor %}
	        </ul>

	        <ul class="post-list jury">
	            <h2><strong>JURY</strong></h2>
	            {% for entry in site.data.jury %}
								{% include url-entry.html %}
	            {% endfor %}
	        </ul>
	    </div>

	    <div class="right">
	        <ul class="post-list">
	            <h2><strong>CAPABILITIES</strong></h2>
              <strong>Design + Motion for </strong><br/>
              <strong>Screens of all Sizes:</strong><br/>								
							Illustraton, Animation <br/>
							Branding, UI Prototyping, <br/>
							Ads, Titles, Gifs, Short Films
	        </ul>

	        <ul class="post-list speaking">
	            <h2><strong>SPEAKING</strong></h2>
	            {% for entry in site.data.speaking %}
	              {% include url-entry.html %}
	            {% endfor %}
	        </ul>
	    </div>
		</div>

</div>
