/**
 * Site header
 */
.site-header {
    position: relative;
    background: #FFFFFF;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding: 20px 0px 20px 120px;
    background: url(#{$base_url}/images/flag.svg) no-repeat left 20px;
    background-image-size: 40px 40px;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }
    
    .page-link {
        color: black;
        line-height: $base-line-height;
        display: inline-block;
        padding: 35px 0px 30px 0px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        
        &.twitter {
            display: inline-block;
            padding :0px;
            width: 30px;
            height: 30px;
            position: relative;
        }
        &.twitter svg {
            position: absolute;
            top: 7px;
        }
        &.twitter svg path {
            fill: black;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.footer {
    padding: $spacing-unit 0;
    text-align: center;
    line-height: 2em;
    a {
        color: #fff;
        &:hover {
            color: $brand-color;
        }
        &.twitter {
            line-height: 4em;
            display: inline-block;
            width: 35px;
            height: 35px;
            svg path {
                fill: #fff;
                &:hover {
                    fill: $brand-color;
                }
            }
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    
    iframe {
        width: 100%;
        margin-bottom: $spacing-unit / 2;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit * 1;
        img {
            width: 100%;
            display: none;
            &.mobile {
                display: block;
            }
        }
        @media (min-width: 600px) {
            &.half {
                width: 47%;
                display: inline-block;
                &.right {
                    float: right;
                }
            }
            
            img {
                display: block;
                &.mobile {
                    display: none;
                }
            }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $home-page-font-size;
    position: relative;
    span {
        position: absolute;
        display: none;
        width: 100%;
        top: 50%;
        text-align: center;
        margin-top: -#{$home-page-font-size/ 2};
    }
    &:hover {
        img {
            opacity: .5;
        }
        span {
            display: block;
        }
    }
}


.back-to-projects {
    margin-top: $spacing-unit * 1.5;
}


/**
 * Posts
 */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}
