/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    @media (max-width: 600px) {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} / 2));
      max-width:         calc(#{$content-width} - (#{$spacing-unit} / 2));
      margin-right: auto;
      margin-left: auto;
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }
    
    @media (min-width: 600px) {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
      max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
      margin-right: auto;
      margin-left: auto;
      padding-right: $spacing-unit;
      padding-left: $spacing-unit;
    }
    @extend %clearfix;

    @include media-query($on-laptop) {
//        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//        padding-right: $spacing-unit / 2;
//        padding-left: $spacing-unit / 2;
    }
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
    margin-bottom: #{$spacing-unit};
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-style-urls,
.lists {
	a {
		color: #fff;
		&:hover {
			color: rgba(255,255,255,.85);
		}
	}
    a.twitter svg {
        margin: -5px 0px 0px 10px;
        vertical-align: middle;
        width: 18px;
    }
    a.twitter svg path {
        fill: white;
    }
}

@media (min-width: 600px) {
    .lists {
        margin-top: 50px;
        .left {
            width: 45%;
            float: left;
        }
        .right {
            width: 45%;
            float: right;
        }
    }
    .clear {
        clear: both;
    }
}


.info {
    .bio {
        div {
            margin-bottom: $spacing-unit;
        }
        margin-bottom: $spacing-unit * 2;
    }
}

.info {
  .post-list {
      margin-bottom: $spacing-unit * 1.5;
  }
}

@media (min-width: 600px) {
  .info {
    .post-list {
        &.kudos {
            margin-bottom: 130px;
        }
        &.clients {
            margin-bottom: 60px;
        }
    }
  }
}


/**
 * Site header
 */
.site-header {
    font-size: 20px;
    position: relative;
    background: #FFFFFF;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding: 20px 0px 20px 120px;
    background: url(#{$base_url}/images/flag.svg) no-repeat left 20px;
    background-image-size: 40px 40px;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
  
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }
    
    .page-link {
        color: black;
        line-height: $base-line-height;
        display: inline-block;
        padding: 35px 0px 30px 0px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        
        &.twitter {
            display: inline-block;
            padding :0px;
            width: 30px;
            height: 30px;
            position: relative;
        }
        &.twitter svg {
            position: absolute;
            top: 7px;
        }
        &.twitter svg path {
            fill: black;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.footer {
    padding: $spacing-unit 0;
    text-align: center;
    line-height: 2em;
    a {
        color: #fff;
        &:hover {
            color: $brand-color;
        }
        &.twitter {
            line-height: 4em;
            display: inline-block;
            width: 35px;
            height: 35px;
            svg path {
                fill: #fff;
                &:hover {
                    fill: $brand-color;
                }
            }
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit * 1.5) 0;
    @media (max-width: 600px) {
      padding: ($spacing-unit * .5) 0;
    }
    iframe {
        width: 100%;
        margin-bottom: $spacing-unit / 2;
    }
}

.page-heading {
    font-size: 20px;
}

.home .post-list {
  line-height: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $grid-spacing-unit;
        img {
            width: 100%;
            display: none;
            &.mobile {
                display: block;
            }
        }
        @media (max-width: 600px) {
          margin-bottom: $spacing-unit * .5;
        }
        @media (min-width: 600px) {
            img {
                display: block;
                &.mobile {
                    display: none;
                }
            }
        }
    }
}


.small-links,
.image {
  font-size: 12px;
  line-height: 26px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}
.large-top-margin {
  margin-top: $spacing-unit * 3;
}
.jury {
	margin-top: 50px;
}

@media (min-width: 600px) {
  
  p.image {
    margin-bottom: $grid-spacing-unit;
    img {
      margin-bottom: 0px;
    }
  }

  .half {
      width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .5 );
      display: inline-block;
      &.right {
          float: right;
      }
      &.third {
        display: inline-block;
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 2)) * .33 );
        margin-right: $grid-spacing-unit;
        &.last {
          margin-right: 0px;
        }
      }
      &.fourth {
        display: inline-block;
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 3)) * .245 );
        margin-right: $grid-spacing-unit;
        &.last {
          margin-right: 0px;
        }
      }
      &.third-left {
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .355 );
        &.specimen {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .346 );
        }
        &.votegif {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .557 );
        }
      }
      &.twothirds-right {
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .643 );
        float: right;
        &.specimen {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .65 );
        }
        &.votegif {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .44 );
        }
      }
      &.twothirds-left {
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .643 );
        &.specimen {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .5825 );
        }
      }
      &.third-right {
        width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .355 );
        float: right;
        &.specimen {
            width: -webkit-calc( (100% - (#{$grid-spacing-unit} * 1)) * .413 );
        }
      }
  }
  
}

.post-link {
    display: block;
    font-size: $home-page-font-size;
    line-height: #{$home-page-font-size / 2};
    position: relative;
    span {
        position: absolute;
        display: none;
        width: 100%;
        top: 50%;
        text-align: center;
        margin-top: -#{$home-page-font-size/ 2};
    }
    @media (min-width: 600px) {
      &:hover {
          img {
              opacity: .5;
          }
          span {
              display: block;
          }
      }
    }
}


.back-to-projects {
    margin-top: $spacing-unit * 1.5;
}


/**
 * Posts
 */

h1 {
    font-size: $base-font-size;
    color: #ADADAD;
    margin-bottom: $base-font-size / 2.5;
    font-weight: bold;
}

h2 {
    font-size: $base-font-size;
    color: #ADADAD;
    margin-bottom: $base-font-size / 2.5;
//    @include media-query($on-laptop) {
//        font-size: 28px;
//    }
}

h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}
